<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>TG | Traditional Game</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg da fixed-top">
        <div class="container-fluid mx-5 px-5">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">WORK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT ME</a>
                    </li>
                    <li class="nav">
                        <a class="nav-link" href="#">SIGNUP</a>
                    </li>
                    <li class="nav">
                        <a class="nav-link" href="/loginPage" method="get">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="content">
        <div class="container text-center">
            <h4 class="display-3"><br>PLAY TRADITIONAL GAME</br></h4>
            <h4 class="display-6"><br>EXPERIENCE NEW TRADITIONAL GAME</br></h4><br>
            <a href="/play" method="get"><button type="button" id="btn" class="btn btn-warning btn-md">Play
                    Now</button></a>
        </div>
    </div>
    <div class="container-fluid" id="game">
        <div class="container text-left">
            <h4 class="display-6">Whats So Special ?</h4>
            <h4 class="display-6">THE GAMES</h4><br>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="col md-4">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="css/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="feature">
        <div class="container text-right">
            <h4 class="display-6" id=""><br>Whats So Special ?</h4>
            <h4 class="display-6">FEATURES</h4><br>
        </div>
    </div>
    <div class="container-fluid" id="requirements">
        <div class="container text-right">
            <h4 class="display-6"><br>SYSTEM</h4>
            <h4 class="display-6">REQUIREMENTS</h4><br>
        </div>
    </div>
    <div class="container-fluid" id="top-score">
        <div class="container text-right">
            <h4 class="display-6"><br>Whats So Special ?</h4>
            <h4 class="display-6">THE GAME</h4><br>
        </div>
    </div>
    <div class="container -fluid" id="newslater">
        <div class="container text-right">
            <h4 class="display-6"><br>Whats So Special ?</h4>
            <h4 class="display-6">THE GAME</h4><br>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js">
    </script>
</body>

</html>